<ng-container *ngIf="vehicle$ | async as vehicle">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ vehicle.properties.name }}</mat-card-title>
            <mat-card-subtitle>{{ vehicle.description }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="detail">
                <span class="detail-title">Model:</span>
                <span class="detail-line">{{ vehicle.properties.model }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Vehicle Class:</span>
                <span class="detail-line">{{ vehicle.properties.vehicle_class }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Manufacturer:</span>
                <span class="detail-line">{{ vehicle.properties.manufacturer }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Cost In Credits:</span>
                <span class="detail-line">{{ vehicle.properties.cost_in_credits }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Length:</span>
                <span class="detail-line">{{ vehicle.properties.length }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Crew:</span>
                <span class="detail-line">{{ vehicle.properties.crew }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Passengers:</span>
                <span class="detail-line">{{ vehicle.properties.passengers }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Max Atmosphering Speed:</span>
                <span class="detail-line">{{ vehicle.properties.max_atmosphering_speed }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Cargo Capacity:</span>
                <span class="detail-line">{{ vehicle.properties.cargo_capacity }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Consumables:</span>
                <span class="detail-line">{{ vehicle.properties.consumables }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Films:</span>
                <mat-chip-listbox>
                    <mat-chip *ngFor="let film of vehicle.properties.films" class="chip">
                        <a class="details-link" [href]="film" [routerLink]="['/film', film.uid]">{{
                            film.properties.title }}</a>
                    </mat-chip>
                </mat-chip-listbox>
            </div>
            <mat-divider></mat-divider>
            <div class="detail">
                <span class="detail-title">Pilots:</span>
                <mat-chip-listbox>
                    <mat-chip *ngFor="let pilot of vehicle.properties.pilots" class="chip">
                        <a class="details-link" [href]="pilot" [routerLink]="['/people', pilot.uid]">{{ pilot.name
                            }}</a>
                    </mat-chip>
                </mat-chip-listbox>
            </div>
            <mat-divider></mat-divider>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Additional Information</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="detail">
                    <span class="detail-title">Created:</span>
                    <span class="detail-line">{{ vehicle.properties.created | date }}</span>
                </div>
                <mat-divider></mat-divider>
                <div class="detail">
                    <span class="detail-title">Edited:</span>
                    <span class="detail-line">{{ vehicle.properties.edited | date }}</span>
                </div>
                <mat-divider></mat-divider>
                <div class="detail">
                    <span class="detail-title">URL:</span>
                    <span class="detail-line">{{ vehicle.properties.url }}</span>
                </div>
            </mat-expansion-panel>
        </mat-card-content>
    </mat-card>
</ng-container>